<!-- header design -->
<header class="header">
    <a href="#" class="logo">AA Digital Tech.</a>

    <nav class="navbar">
        <a href="#home" class="active">Accueil</a>
        <a href="#about">A propos</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Projets</a>
        <a href="#contact">Contact</a>
    </nav>

    <div class="bx bx-moon" id="darkMode-icon"></div>

    <div class="bx bx-menu" id="menu-icon"></div>
</header>

<!-- section d'accueil -->
<section class="home" id="home">
    <div class="home-content">
        <h3>Bienvenue chez</h3>
        <h1>AA Digital Tech n</h1>
        <p>
            Une startup dynamique spécialisée dans le développement de solutions technologiques innovantes. Nous
            allions expertise,
            créativité et vision futuriste pour offrir des services de pointe dans l'achat, la vente d'équipements
            informatiques et
            le développement de produits digitaux.
        </p>
        <p>
            Notre mission est d'accompagner les entreprises dans leur transformation numérique en leur fournissant
            des outils
            technologiques à la hauteur des défis de demain.</p>

        <div class="social-media">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>

        <a href="#" class="btn">Nous contacter</a>
    </div>

    <div class="profession-container">
        <div class="profession-box">

            <div class="profession" style="--i:1;">
                <i class='bx bx-trending-up'></i>
                <h3>Développement de <br> solutions digitales</h3>
            </div>
            <div class="profession" style="--i:2;">
                <i class='bx bx-gift'></i>
                <h3>Achats en ligne</h3>
            </div>
            <div class="profession" style="--i:3;">
                <i class='bx bx-signal-5'></i>
                <h3>Installation de <br>systèmes de <br>connectivité</h3>
            </div>
            <div class="profession" style="--i:4;">
                <i class='bx bx-color'></i>
                <h3>Transformation <br> numérique</h3>
            </div>

            <div class="circle"></div>
        </div>

        <div class="overlay"></div>
    </div>

    <div class="home-img">
        <img src="../../assets/Images/Prioritaire/group-afro-americans-working-together (1).jpg " alt="">
    </div>
</section>


<!--  section a propos -->
<section class="about" id="about">
    <div class="about-img">
        <img src="../../assets/Images/Prioritaire/female-system-engineer-server-room.jpg" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">A propos de<span> Nous </span></h2>
        <p>
            AA DIGITAL TECH est une startup innovante spécialisée dans la fourniture de solutions technologiques
            avancées. Nous
            offrons une gamme complète de services pour répondre aux besoins croissants des entreprises et des
            particuliers dans le
            domaine du numérique et de la connectivité. Nos principales expertises incluent :
        </p>
        <h3>1-Développement de solutions digitales</h3>
        <h3>2-Achat et vente d'équipements informatiques</h3>
        <h3>3-Installation de systèmes de connectivité</h3>
        <h3>4-Transformation numérique</h3>

        <p>Notre mission est d'être un partenaire stratégique en matière d'innovation technologique, en offrant des
            solutions
            complètes, de la connectivité à l'équipement, tout en facilitant l'accès aux nouvelles technologies à
            l'échelle
            internationale.</p>
        <a href="#services" class="btn">Voir plus</a>
    </div>
</section>

<!--section services   -->
<section class="services" id="services">
    <h2 class="heading">Nos <span>Services</span></h2>

    <div class="services-container">
        <div class="services-box">
            <i class='bx bx-signal-5'></i>
            <h3> Installation de systèmes de connectivité</h3>
            <p>Grâce à notre maitrise des systèmes Starlink, nous offrons à nos clients un accès à
                Internet haut
                débit même dans les zones les plus reculées. Nous installons également la fibre optique Camtel,
                garantissant ainsi des
                connexions rapides et stables pour les entreprises et les particuliers.</p>
            <a href="#portfolio" class="btn">Lire Plus</a>
        </div>
        <div class="services-box">
            <i class='bx bx-gift'></i>
            <h3> Achat et vente d'équipements informatiques</h3>
            <p>Nous proposons une large gamme de matériels informatiques de dernière génération, assurant à nos
                clients un accès aux
                technologies les plus avancées du marché, tout en garantissant des solutions fiables et durables.
            </p>
            <a href="#portfolio" class="btn">Lire Plus</a>
        </div>
        <div class="services-box">
            <i class='bx bxs-color'></i>
            <h3>Transformation numérique</h3>
            <p>Nous accompagnons les entreprises dans leur transition vers le numérique en mettant en place des
                infrastructures
                adaptées, tout en assurant leur maintenance et leur évolution continue.</p>
            <a href="#portfolio" class="btn">Lire Plus</a>
        </div>

        <div class="services-box">
            <i class='bx bx-graphql'></i>
            <h3>Achat à l'international</h3>
            <p>Grâce à notre réseau global, nous facilitons l'importation de matériels informatiques et
                technologiques de haute qualité
                en provenance de divers pays. Ce service permet à nos clients d'accéder aux équipements les plus
                performants à des
                tarifs compétitifs.</p>
            <a href="#portfolio" class="btn">Lire Plus</a>
        </div>

        <div class="services-box">
            <i class='bx bx-trending-up'></i>
            <h3>Développement de solutions digitales</h3>
            <p>Nous créons des applications sur mesure, des plateformes web interactives et des solutions mobiles
                adaptées aux besoins
                spécifiques de nos clients. Nous mettons l'innovation technologique au service de l'efficacité et de
                la croissance des
                entreprises.</p>
            <a href="#portfolio" class="btn">Lire Plus</a>
        </div>
    </div>
</section>


<script>
    /*========== menu icon navbar ==========*/
    let menuIcon = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.navbar');

    menuIcon.onclick = () => {
        menuIcon.classList.toggle('bx-x');
        navbar.classList.toggle('active');
    };


    /*========== scroll sections active link ==========*/
    let sections = document.querySelectorAll('section');
    let navLinks = document.querySelectorAll('header nav a');

    window.onscroll = () => {
        sections.forEach(sec => {
            let top = window.scrollY;
            let offset = sec.offsetTop - 150;
            let height = sec.offsetHeight;
            let id = sec.getAttribute('id');

            if (top >= offset && top < offset + height) {
                navLinks.forEach(links => {
                    links.classList.remove('active');
                    document.querySelector('header nav a[href*=' + id + ']').classList.add('active');
                });
            };
        });


        /*========== sticky navbar ==========*/
        let header = document.querySelector('.header');

        header.classList.toggle('sticky', window.scrollY > 100);


        /*========== remove menu icon navbar when click navbar link (scroll) ==========*/
        menuIcon.classList.remove('bx-x');
        navbar.classList.remove('active');

    };


    /*========== swiper ==========*/
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 50,
        loop: true,
        grabCursor: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });


    /*========== dark light mode ==========*/
    let darkModeIcon = document.querySelector('#darkMode-icon');

    darkModeIcon.onclick = () => {
        darkModeIcon.classList.toggle('bx-sun');
        document.body.classList.toggle('dark-mode');
    };


    /*========== scroll reveal ==========*/
    ScrollReveal({
        // reset: true,
        distance: '80px',
        duration: 2000,
        delay: 200
    });

    ScrollReveal().reveal('.home-content, .heading', { origin: 'top' });
    ScrollReveal().reveal('.home-img img, .services-container, .portfolio-box, .testimonial-wrapper, .contact form', { origin: 'bottom' });
    ScrollReveal().reveal('.home-content h1, .about-img img', { origin: 'left' });
    ScrollReveal().reveal('.home-content h3, .home-content p, .about-content', { origin: 'right' });
</script>